<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <!-- "robots" meta tag (with noindex, nofollow) prevents search engines from displaying it in searches -->
    <meta name="robots" content="{{ page.robots | default: 'index, follow' }}">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/minimal.css">
    
    <!-- Newsletter subscriptions -->
    <link rel="stylesheet" href="{{ '/assets/css/newsletter.css' | relative_url }}">
    <script src="{{ '/assets/scripts/newsletter.js' | relative_url }}" defer></script>
    
</head>
<!-- Add case to determine whether this is "newletter_page" which will then provide additional options -->
<body class="{{ page.layout }} {% if page.newsletter_page %}newsletter-page{% endif %}">
    {{ content }}
</body>
</html>
